<p>
  Angular Version in Shell: {{ngVersion}}
</p>
<p>&nbsp;</p>
<ul>
  <li><img src="https://angular.io/assets/images/logos/angular/angular.svg" width="40"></li>
  <li><a routerLink="">Home</a></li>
  <li><a routerLink="angular1">App1</a></li>
  <li><a routerLink="angular2/a">App2</a></li>
  <li><a routerLink="mfe3/a">App3</a></li> 
  <li><a routerLink="react1">App4</a></li>
  <li><a routerLink="react2">App5</a></li>
  <li><a routerLink="shell">shell</a></li> 

</ul>
<router-outlet></router-outlet>